=begin
#Insights Service Approval APIs

#APIs to query approval service

OpenAPI spec version: 1.0.0
Contact: support@redhat.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.3.4

=end

require 'uri'

module ApprovalAPIClient
  class ActionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an action to a given stage
    # Add an action to a given stage
    # @param stage_id Id of stage
    # @param action_in Action object that will be added
    # @param [Hash] opts the optional parameters
    # @return [ActionOut]
    def create_action(stage_id, action_in, opts = {})
      data, _status_code, _headers = create_action_with_http_info(stage_id, action_in, opts)
      data
    end

    # Add an action to a given stage
    # Add an action to a given stage
    # @param stage_id Id of stage
    # @param action_in Action object that will be added
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionOut, Fixnum, Hash)>] ActionOut data, response status code and response headers
    def create_action_with_http_info(stage_id, action_in, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionApi.create_action ...'
      end
      # verify the required parameter 'stage_id' is set
      if @api_client.config.client_side_validation && stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'stage_id' when calling ActionApi.create_action"
      end
      # verify the required parameter 'action_in' is set
      if @api_client.config.client_side_validation && action_in.nil?
        fail ArgumentError, "Missing the required parameter 'action_in' when calling ActionApi.create_action"
      end
      # resource path
      local_var_path = '/stages/{stage_id}/actions'.sub('{' + 'stage_id' + '}', stage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(action_in)
      auth_names = ['APIKey_auth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActionOut')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionApi#create_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return actions in a given stage
    # List all actions of a stage
    # @param stage_id Id of stage
    # @param [Hash] opts the optional parameters
    # @return [ActionOutCollection]
    def list_actions_by_stage(stage_id, opts = {})
      data, _status_code, _headers = list_actions_by_stage_with_http_info(stage_id, opts)
      data
    end

    # Return actions in a given stage
    # List all actions of a stage
    # @param stage_id Id of stage
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionOutCollection, Fixnum, Hash)>] ActionOutCollection data, response status code and response headers
    def list_actions_by_stage_with_http_info(stage_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionApi.list_actions_by_stage ...'
      end
      # verify the required parameter 'stage_id' is set
      if @api_client.config.client_side_validation && stage_id.nil?
        fail ArgumentError, "Missing the required parameter 'stage_id' when calling ActionApi.list_actions_by_stage"
      end
      # resource path
      local_var_path = '/stages/{stage_id}/actions'.sub('{' + 'stage_id' + '}', stage_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKey_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActionOutCollection')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionApi#list_actions_by_stage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Return an user action by id
    # Return an user action by id
    # @param id Query by id
    # @param [Hash] opts the optional parameters
    # @return [ActionOut]
    def show_action(id, opts = {})
      data, _status_code, _headers = show_action_with_http_info(id, opts)
      data
    end

    # Return an user action by id
    # Return an user action by id
    # @param id Query by id
    # @param [Hash] opts the optional parameters
    # @return [Array<(ActionOut, Fixnum, Hash)>] ActionOut data, response status code and response headers
    def show_action_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ActionApi.show_action ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActionApi.show_action"
      end
      # resource path
      local_var_path = '/actions/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKey_auth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ActionOut')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActionApi#show_action\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

  end
end
